{% extends 'okra_server/base.html' %}

{% block title %}{{ api_info.name }}{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Progress overview</h1>
        {% for experiment in experiments %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ experiment.title }} ({{ experiment.id }})</h5>
                            <h6 class="card-subtitle">{{ experiment.task_type }}</h6>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary stretched-link" href="{% url 'progress' experiment.id %}?download">
                                <i class="bi bi-bar-chart-fill me-2"></i>
                                Progress
                            </a>
                        </div>
                    </div>
                    <div class="progress mt-2" style="height: 20px">
                        <div class="progress-bar bg-success" style="width: {{ experiment.percent_tasks_finished }}%">
                            {{ experiment.n_tasks_finished }} finished
                        </div>
                        <div class="progress-bar bg-danger" style="width: {{ experiment.percent_tasks_canceled }}%">
                            {{ experiment.n_tasks_canceled }} canceled
                        </div>
                        <div class="progress-bar bg-warning" style="width: {{ experiment.percent_tasks_unfinished }}%">
                            {{ experiment.n_tasks_unfinished }} unfinished
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
