{% extends 'okra_server/base.html' %}

{% block title %}{{ api_info.name }}{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Progress report</h1>
        {% for experiment in experiments %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ experiment.title }} ({{ experiment.id }})</h5>
                            <h6 class="card-subtitle">{{ experiment.task_type }}</h6>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" href="{% url 'experiment-results' experiment.id %}?download">
                                <i class="bi bi-download me-2"></i>
                                Results
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for participant in experiment.participants %}
                        {% if participant.n_tasks > 0 %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <h6>{{ participant.id }}</h6>
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn btn-primary" href="{% url 'experiment-results-graph' experiment.id participant.id %}">
                                            <i class="bi bi-diagram-2-fill me-2"></i>
                                            Results
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto text-center">
                                        <small>Practice</small>
                                        <br>
                                        <strong>{{ participant.n_practice_tasks_finished }}</strong>
                                    </div>
                                    <div class="col">
                                        <small>Tasks</small>
                                        <div class="progress" style="height: 20px">
                                            <div class="progress-bar bg-success" style="width: {{ participant.percent_tasks_finished }}%">
                                                {{ participant.n_tasks_finished }} finished
                                            </div>
                                            <div class="progress-bar bg-danger" style="width: {{ participant.percent_tasks_canceled }}%">
                                                {{ participant.n_tasks_canceled }} canceled
                                            </div>
                                            <div class="progress-bar bg-warning" style="width: {{ participant.percent_tasks_unfinished }}%">
                                                {{ participant.n_tasks_unfinished }} unfinished
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
